<nav class="nav justify-content-center p-3">
    <a href="/results" class="nav-link">
    <h4 class="h4">Return to Listings</h4></a>
</nav>
{{#each property.dataValues.gallery}}
<div class="rounded col-12 col-xl-3 col-md-5 p-5">
    <div class="card h-100">      
        <img src="{{this}}" class="min-w-100 card-img-top" alt="" />       
    </div>
  </div>
  {{/each}}