{{! Renders results main page }}
<section class="d-flex row justify-content-center card-container">
    {{#each result as |info| }}
      {{> results-details }}  
    {{/each}}

    {{#if property}}
      {{>property-details}}
    {{/if}}
</section>