{{!-- Search Form --}}
<section class= "d-flex py-5 justify-content-center">
    <form class="search-form">
        <input name="city_name" placeholder="City" class="form-control" id="city_name">{{city_name}}</textarea>
        <br/>
        <input name="state_name" placeholder="State" class="form-control" id="state_name">{{state_name}}</textarea>
        <br/>
        <div class="row">
            <div class="col">
        <input name="minimum_budget" placeholder="Minimum Price" class="form-control" id="minimum_budget">{{minimum_budget}}</textarea>       
            </div>
            <div class="col">
        <input name="maximum_budget" placeholder= "Maximum Price" class="form-control" id="maximum_budget">{{maximum_budget}}</textarea>
            </div>
        </div>
        <br/>
        <button type="submit" class= "btn btn-dark active w-100" value= "Submit">Search</button>
    </form>
    <script src="/js/search-post.js"></script>
</section>