body{
  background-image: linear-gradient(white, black);
}
.card-img-top {
    width: 100%;
    height: 15vw;
    min-height: 250px;
    object-fit: cover;
  }
  
  /* fixes address line-height */
  .address {
    min-height: 55px;
    font-size: 100%;
  }

  .login-logout {
    cursor: pointer;
  }

  .searchContainer {
    background-image: url('../images/searchbg.jpg'); 
    background-position: 35% 50%;
  }